<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
            color: white;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <div class="m-[30px]">
        <h1 class="font-bold text-4xl"><%= filename%></h1>
        <h3 class="font-bold text-xl mt-6"><%= data%></h3>
    </div>
</body>

</html>